@font-face {
    font-family: 'Vivaldi';
    src: url('font/vivaldi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnellRoundhand-Script';
    src: url('font/SnellRoundhand-Script.svg#SnellRoundhand-Script') format('svg'), url('font/SnellRoundhand-Script.ttf') format('truetype'), url('font/SnellRoundhand-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnellRoundhandScript';
    src: url('font/SnellRoundhandScript.eot');
    src: url('font/SnellRoundhandScript.eot?#iefix') format('embedded-opentype'), url('font/SnellRoundhandScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: #dbe9ea;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-weight: lighter;
    font-size: 1.2em;
    border-left: .2px solid #dbe9ea;
    border-right: .2px solid #dbe9ea
}

a,
a:visited {
    text-transform: uppercase;
    text-decoration: none;
}

em {
    font-family: 'SnellRoundhand-Script', "vivaldi";
    font-size: 1.1em;
    padding: 2px;
}

header {
    /* font-family: 'SnellRoundhand-Script'; */
    border-left: #dbe9ea;
    background-color: black;
    color: #dbe9ea;
    background-color: black;
}

#header {
    background-color: transparent;
    position: fixed;
    height: 20px;
    width: 98.5vw;
    border: .2px solid #dbe9ea;
    border-left: .2px solid #dbe9ea;
    z-index: 100;
    padding: 10px;
}

#contact {
    position: relative;
    padding: 50px;
    top: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr .3fr;
    grid-gap: 80px;
}

#about {
    width: 110%;
}

#mail a,
a:visited {
    position: relative;
    top: 260px;
    left: 160px;
    color: black;
    text-decoration: underline;
    font-size: 2.5em;
    font-family: 'SnellRoundhand-Script', 'vivaldi';
    text-transform: lowercase;
}

#mail a:hover {
    font-family: 'SnellRoundhand-Script', 'vivaldi', ;
}


/* hello */

#con {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transform: rotateX(30deg)
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {
    body {
        background-color: black;
        color: #dbe9ea;
        font-family: Helvetica, sans-serif;
        padding: 0px;
        margin: 0px;
        /* text-transform: uppercase; */
        /* border-left: .2px solid #dbe9ea;
        border-right: .2px solid #dbe9ea; */
        border: none;
        width: 99.9vw;
        font-weight: lighter;
        font-size: 1.2em;
    }
    header {
        background-color: transparent;
    }
    #header {
        height: 80px;
        width: 100vw;
        border: .2px solid #dbe9ea;
        border-left: .2px solid #dbe9ea;
        z-index: 100;
        padding: 15px;
        background-color: transparent;
        font-size: 1.2em !important;
    }
    #contact {
        position: absolute;
        font-size: 2em;
        padding: 50px;
        top: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 80px;
        width: 80vw;
    }
    #about {
        font-size: 1.3em;
    }
    a {
        font-size: 2em;
    }
}