body{
  background-color: #e5e9e9;
}
p{
  width:300px;
  padding:10px;
  margin:0px;
  font-family: sans-serif;
  font-size:1.4rem;
}

a{
  font-family:sans-serif;
  text-decoration: none;
  text-transform:uppercase;
  color:black;
  display:block;
  padding-left:10px;
  margin:0px;
  font-size:1.4rem;
}
a:hover{
  text-decoration:underline;
}
video{
  width:100%;
  padding:10px;
  margin:10px;
  border:1px solid black;

}
img{
  height:250px;
  padding:10px;
  margin:10px;
  border:1px solid black;
}
img:hover{
  box-shadow: 5px 5px 6px black;
}

.border{
    text-transform:uppercase;
    border: 2px solid black;
    box-shadow: 5px 5px 6px black;
    margin:10px;
    width:200px;
}
#select{
  text-decoration:underline;
}
#side{
  grid-column: 1 / 2;
  grid-row: 1 / 20;

}
.con{
  position:relative;
  display:flex;
  left:30%;
  width:60%;
}
.pics{

}

#websites{
  margin:10px;
}
#websites>a{
  margin:10px;
}

#filler{
  grid-column: 4 / 6;
  grid-row: 1 / 10;
}


#wrapper{
  position:fixed;
  margin:30px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr .2fr .2fr;
  grid-auto-rows: auto;
  row-gap: 15px;
  column-gap: 60px;
}

#eeb{
  z-index:-10;
  position:fixed;
  right:0px;
  width:25%;
  height:120%;
  border:0px solid black !important;
}
