@font-face {
    font-family: 'Vivaldi';
    src: url('font/vivaldi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnellRoundhand-Script';
    src: url('font/SnellRoundhand-Script.svg#SnellRoundhand-Script') format('svg'), url('font/SnellRoundhand-Script.ttf') format('truetype'), url('font/SnellRoundhand-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnellRoundhandScript';
    src: url('font/SnellRoundhandScript.eot');
    src: url('font/SnellRoundhandScript.eot?#iefix') format('embedded-opentype'), url('font/SnellRoundhandScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: rgb(220, 232, 231);
    font-family: Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-weight: lighter;
    font-size: 1.2em;
}

header {
    /* font-family: 'SnellRoundhand-Script'; */
    border-left: rgb(220, 232, 231);
    background-color: black;
}

#header {
    background-color: black;
    position: fixed;
    height: 20px;
    width: 98vw;
    border: .5px solid rgb(220, 232, 231);
    border-left: .5px solid rgb(220, 232, 231);
    z-index: 100;
    padding: 10px;
}

h1 {
    position: relative;
    top: 40%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.1em;
    text-decoration: none;
}

p {
    text-align: left;
    padding-left: 50px;
}

h1,
a,
.proj {
    text-transform: uppercase;
    color: rgb(220, 232, 231);
    font-size: 1.1em;
    text-decoration: none;
}

a:hover {
    /* color: black;
    background-color: rgb(220, 232, 231); */
    font-family: 'SnellRoundhand-Script', 'vivaldi';
    /* font-size: 1.4em;
    font-weight: 600; */
}

em {
    font-family: 'SnellRoundhand-Script', 'vivaldi';
    font-size: 1.1em;
    padding: 2px;
}


/* #wrapper {
    /*put border around  
    display: grid; */


/* height: 100vh;
    width: 99vw;
    border: 1px solid rgb(220, 232, 231); 
} */

#webgrid {
    width: 100vw;
    position: absolute;
    top: 80px;
    left: 10%;
    /* divided by something */
    display: grid;
    grid-template-columns: calc(100vw/2.5) calc(100vw/2.5);
    /* grid-template-rows: calc(100vw/4); */
    grid-gap: 30px;
    z-index: -1;
}

.site {
    /* height: 200px;
    width: 200px; */
    text-align: center;
}

.siteimg>img {
    border: .5px solid rgb(220, 232, 231);
    ;
    /* width: calc(100vw/2.8);
     */
    width: 420px;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.siteimg>video:hover {
    box-shadow: 0px 0px 13px rgb(220, 232, 231);
}

.siteimg>img:hover {
    box-shadow: 0px 0px 13px rgb(220, 232, 231);
}

video {
    width: 480px !important;
}


/* 
.siteimg>img:after {
    width: 4000px;
}

.siteimg>img:focus {
    width: 4000px;
} */


/* boook */

#bookgrid {
    width: 70vw;
    position: absolute;
    top: 80px;
    left: 10%;
    /* divided by something */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    z-index: -1;
}

.book {
    /* height: 200px;
    width: 200px; */
    text-align: center;
}

.bookimg>img,
video {
    border: .5px solid rgb(220, 232, 231);
    ;
    /* width: calc(100vw/2.8);
     */
    width: 310px;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.bookimg>video:hover {
    box-shadow: 0px 0px 13px rgb(220, 232, 231);
}

.bookimg>img:hover {
    box-shadow: 0px 0px 13px rgb(220, 232, 231);
}


/* 
.siteimg>img:after {
    width: 4000px;
}

.siteimg>img:focus {
    width: 4000px;
} */

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {
    #wrapper {
        display: block;
        /* grid-template-columns: 1fr;
        grid-template-rows: 40px 1/6vw 1/6vw; */
        position: fixed;
    }
    h1,
    #header {
        /* text-align: center; */
        font-weight: 400;
        text-transform: uppercase;
        font-size: 2.4em;
        text-decoration: none;
    }
    #header {
        height: 60px;
        width: 106vw;
        padding: 30px;
        font-size: 2.6em;
        /* font-family: 'SnellRoundhand-Script'; */
        background-color: black;
        border-top: 1px solid rgb(220, 232, 231);
    }
    #webgrid {
        width: 100vw;
        position: absolute;
        top: 200px;
        left: 12%;
        /* divided by something */
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        /* grid-template-rows: calc(100vw/4); */
        grid-gap: 30px;
    }
    .site {
        /* height: 200px;
        width: 200px; */
        text-align: left;
        font-size: 2.4rem;
    }
    .siteimg>img {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(220, 232, 231);
        /* width: calc(100vw/2.8);
     */
        width: 80vw;
        height: auto;
        padding: 20px;
        margin-bottom: 20px;
    }
    video {
        width: 80vw !important;
    }
    /* book stuff now */
    #bookgrid {
        width: 70vw;
        position: absolute;
        top: 150px;
        left: 10%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        height: 100vh;
    }
    .bookimg>img,
    video {
        width: 70vw;
    }
}