* {
    padding: -10px;
    margin: -20px;
}

body {
    font-family: 'Space Mono', monospace;
    /*font-family: 'Franklin Gothic Medium', sans-serif;*/
    background-color: black;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
}

#clock {
    background-image: repeating-linear-gradient(orangered, magenta 10%);
}

div {
    display: inline-block;
    /* border-radius: 300px; */
    /* margin-top: 150px; */
    position: relative;
    transition: all 1s ease;
    background-color: orangered;
    background-image: repeating-linear-gradient(orangered, magenta);
    color: magenta;
    font-size: 100px;
}